body{
    font-family: 'Barlow', sans-serif !important;
    font-family: 'Playfair Display', serif !important;
    overflow-x: hidden !important;

  
  }

  button{
    border: 1px solid transparent !important;
  }

  .p-sections {
    padding: 100px 0;
  }
